* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-size: 40px; */
    font-family: 'Roboto Slab', serif;
}

:root{
    --primary-color:#2E2E2E;
    --secondary-color: #F2F2F2;
    --terbary-color:#FBEFF8;
    --background-color:#000000;
}

body, .card{
    background-color: var(--background-color) !important;
    padding: 0px;
}
h2,h3, .name{letter-spacing: 3px; color: var(--terbary-color) !important; margin-bottom: 0px;}
.navbar{
    background-color: var(--background-color-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-bottom: 1px solid #1e1e1e;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link{ color: var(--terbary-color) !important;} 
.nav .nav-link{color: var(--secondary-color);}
.nav-underline{--bs-nav-underline-gap:2rem !important;}
.copywright:hover{color: #D8D8D8 !important; font-size: 16px;}

.name{position: absolute; bottom: 5rem; left: 2rem;}

.footer{border-top: 1px solid #1e1e1e;}
.card-body{position: relative;}
.card-body .main-img-section{
    height: 500px;
    width: 500px;
    border-radius: 50% !important;
    position: absolute;
    top: 420%;
    bottom: 0%;
    left: 20%;
    right: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    background: url('/asset/images/Profile_image.jpg') center no-repeat;
    background-size: cover;
    background-position-y: 0px;
    background-position-x: 0px;
}

/* .card-body .main-img-section{
    
    height: 100%;
    width: 100%;
    background-size: contain;

} */


/* .main-img-section p{
    width: 100%;
    height: 80vh;
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
} */